<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615495880468-vaqqmb8h3ihto2np80mbhthuvtovjilu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615495880468-vaqqmb8h3ihto2np80mbhthuvtovjilu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>615495880468-anvvckm3725v8gv74cvpu188m5q2btqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCh_OnAfqierQR7ZRsatsc4LLfjvK4jtKY</string>
	<key>GCM_SENDER_ID</key>
	<string>615495880468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ngonzano.comidaperuana</string>
	<key>PROJECT_ID</key>
	<string>recetas-6a516</string>
	<key>STORAGE_BUCKET</key>
	<string>recetas-6a516.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615495880468:ios:7cbbee23e43f017b123c01</string>
</dict>
</plist>